<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">

  <title>Personal Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon_shark.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal - v4.7.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">
      <h1><a href="{% url 'home' %}">Félix Poirier</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>I'm a driven <span>student</span> from Montreal</h2>
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
          <!--<li><a class="nav-link" href="#contact">Contact</a></li>-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
      <div class="social-links">
        <a href="https://github.com/felixpoirier1" class="github"><i class="bi bi-github"></i></a>
        <a href="www.linkedin.com/in/felix-poirier" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
  
    </div>
  </header><!-- End Header -->
    
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
  
      <!-- ======= About Me ======= -->
      <div class="about-me container">
  
        <div class="section-title">
          <h2>About</h2>
          <p>Learn more about me</p>
        </div>
  
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'img/me.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Programming &amp; Finance</h3>
            <p class="fst-italic">
              It suddenly struck me that that tiny pea, pretty and blue, was the Earth. I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. 
              I didn't feel like a giant. I felt very, very small.   -Neil Armstrong
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>4 September 2001</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+1 514 826 8008</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Montreal, Canada</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>20</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Mathematics, economics & finance</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>felixpoirier2020@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
             I am simply commited to combining the most cutting edge concepts of computer science and machine learning
             to the world of finance. I believe that anything can be achieved with enough determination.
             Learning the art of programming on my own whilst pursuing an undergraduate degree in finance was certainly not simple,
             but I never doubted myself!
            </p>
          </div>
        </div>
  
      </div><!-- End About Me -->
  
      <!-- ======= Counts ======= -->
      <div class="counts container">
  
        <div class="row">
          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours</p>
            </div>
          </div>
  
        </div>
  
      </div><!-- End Counts -->
  
      <!-- ======= Skills  ======= -->
      <div class="skills container">
  
        <div class="section-title">
          <h2>Skills</h2>
        </div>
  
        <div class="row skills-content">
  
          <div class="col-lg-6">
  
            <div class="progress">
              <span class="skill">Python <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">HTML/CSS <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">C# <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
  
          </div>
  
          <div class="col-lg-6">
  
            <div class="progress">
              <span class="skill">SQL <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">C++ <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">Excel/VBA  <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
  
          </div>
  
        </div>
  
      </div><!-- End Skills -->
  
      <!-- ======= Interests ======= -->
      <div class="interests container">
  
        <div class="section-title">
          <h2>Interests</h2>
        </div>
  
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3>Financial markets</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3>Data science</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3>Web</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3>Business fashion</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3>Database management</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3>Machine learning</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3>Philosophy</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3>Academia</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-anchor-line" style="color: #b2904f;"></i>
              <h3>Travelling</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-disc-line" style="color: #b20969;"></i>
              <h3>Classical music</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-base-station-line" style="color: #ff5828;"></i>
              <h3>APIs</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
              <h3>Optimization</h3>
            </div>
          </div>
        </div>
  
      </div><!-- End Interests -->
  
  
    </section><!-- End About Section -->

      <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Félix Poirier</h4>
            <p><em>Analytical, focused and pragmatic. Obsession with delivering optimized results and automatising processes. 
              Likes creating solutions to automate boring tasks with programming.</em></p>
            <p>
            <ul>
              <li>353 Rd Darquise, Laval, QC</li>
              <li>(514) 826-8008</li>
              <li>felixpoirier2020@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor's in Economics, Finance &amp; Applied Math</h4>
            <h5>2021 - 2023</h5>
            <p><em>HEC Montréal, Montréal, QC</em></p>
            <p>Program that seeks to give students an overview of the mathematics underlying financial markets, with a dose of economics and traditional finance to obtain a well rounded understanding of finance.
              This Bachelor's is a primer for the Master's in Financial Engineering.</p>
          </div>
          <div class="resume-item">
            <h4>Human sciences &amp; administration</h4>
            <h5>2019 - 2020</h5>
            <p><em>Montmorency College, Laval, QC</em></p>
            <p>Program that strives to equip student with necessary tools to enter university. 
              This program mainly introduces concepts in statistics, mathematics, economics, management and social sciences. 
              Ex: Calc 1&2, Linear Algebra, Introduction to Economics, Psychology, etc.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Two Trick Pony</h3>
          <div class="resume-item">
            <h4>Computer science</h4>
            <p><em>Python</em></p>
            <h5>2020 - Present</h5>
            <p>
            <ul>
              <li>Statistical/Machine learning</li>
              <li>Financial applications (optimisation, analysis, modeling)</li>
              <li>Web applications using Django (like this portfolio!)</li>
            </ul>
            </p>
            <p><em>C++, SQL, VBA</em></p>
            <h5>2021 - Present</h5>
            <p>
            <ul>
              <li>Certification in C++</li>
              <li>Database management basics</li>
              <li>UI/UX developpment to automate tasks on Excel</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">

            <h4>Finance & Economics</h4>
            <p><em>Finance</em></p>
            <p>
            <ul>
              <li>Developped multiple DCF models to assess the intrinsic value of publicly traded corporations</li>
              <li>Performed regression analysis to assess the overall explanatory nature of independent variables on the VIX</li>
              <li>Wrote professional stock valuation papers</li>
              <li>Developped trading bots</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
      <pre></pre>
      <div class="section-title">
        <h2>Files</h2>
        <div class="interests container">
    
          <div class="row">
            <div class="col-lg-3 col-md-4">
              <a target="_blank" href="{% static 'files/CV.pdf' %}">
              <div class="icon-box">
                <i class="ri-file-chart-2-line" style="color: #ffbb2c;"></i>
                <h3>CV</h3>
              </div>
              </a>
            </div>

            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
              <a target="_blank" href="{% static 'files/Transcript.pdf' %}">
              <div class="icon-box">
                <i class="ri-file-history-line" style="color: #e80368;"></i>
                <h3>Transcript</h3>
              </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
              <a target="_blank" href="{% static 'files/AlgoTradingIBAPI.pdf' %}">
              <div class="icon-box">
                <i class="ri-dashboard-3-line" style="color: #e361ff;"></i>
                <h3>IBAPI Certification</h3>
              </div>
            </a>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
              <a target="_blank" href="{% static 'files/certificate_cpp.pdf' %}">
              <div class="icon-box">
                <i class="ri-code-box-line" style="color: #ffa361;"></i>
                <h3>C++ Certification</h3>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <a target="_blank" href="{% static 'files/MTY.pdf' %}">
            <div class="icon-box">
              <i class="ri-file-ppt-2-line" style="color: #6173ff;"></i>
              <h3>C++ Certification</h3>
            </div>
          </div>
      </div>
    </div>
  </section><!-- End Resume Section -->

  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Projects</p>
      </div>


      <div class="row portfolio-container">
      
        {% for project in projects %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              {% with 'img/portfolio/'|add:project.id|add:'.png' as image_static %}
              <img src="{% static image_static %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{project}}</h4>
                <p>Python</p>
                <div class="portfolio-links">
                  <a href="{% static image_static %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{project}}"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'projects' project.id %}" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
              {% endwith %}
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End Portfolio Section -->
  
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
      <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
